CONFIG_HUAWEI_HARDWARE_VERSION="V1.0"
CONFIG_HUAWEI_SOFTWARE_VERSION="V1.0"
# end of OTA Configuration

CONFIG_HUWEI_IOT_ENABLE_MQTTS=y

#
# HUWEI IOT PV Configuration
#
# CONFIG_HUWEI_IOT_PV_ENABLE is not set

#
# HUWEI IOT Triples Configuration
#
CONFIG_MQTT_HOST="a1621cfafc.iot-mqtts.cn-north-4.myhuaweicloud.com"
CONFIG_TRIPLES_DEVICE_SN_CODE="F4CFA25BB155"
CONFIG_TRIPLES_DEVICE_ID="aithinker_F4CFA25BB155"
CONFIG_TRIPLES_DEVICE_SECRET="F4CFA25BB155"


#
# mbedTLS
#
CONFIG_MBEDTLS_INTERNAL_MEM_ALLOC=y
# CONFIG_MBEDTLS_DEFAULT_MEM_ALLOC is not set
# CONFIG_MBEDTLS_CUSTOM_MEM_ALLOC is not set
CONFIG_MBEDTLS_ASYMMETRIC_CONTENT_LEN=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=16384
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=4096
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_PEER_CERT=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CA_CERT=y
# CONFIG_MBEDTLS_DEBUG is not set


# Log output
#
# CONFIG_LOG_DEFAULT_LEVEL_NONE is not set
# CONFIG_LOG_DEFAULT_LEVEL_ERROR is not set
# CONFIG_LOG_DEFAULT_LEVEL_WARN is not set
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
# CONFIG_LOG_DEFAULT_LEVEL_DEBUG is not set
# CONFIG_LOG_DEFAULT_LEVEL_VERBOSE is not set
CONFIG_LOG_DEFAULT_LEVEL=3
# CONFIG_LOG_COLORS is not set
CONFIG_LOG_TIMESTAMP_SOURCE_RTOS=y
# CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM is not set
# end of Log output
